.header-section{
  background-color: #ffe5e5;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.name{
  color: green;
}

.designation{
  color: #181818;
}

.skills{
  background-color: white;
  padding-right: 50px;
  padding-left: 80px;
  padding-bottom: 20px;
  
}

.footer-section{
  background-color: #ffe5e5;
  padding-left: 70px;
  padding-right: 70px;
}

.link{
  padding-left: 50px;
  padding-right: 50px;
}
